/* general */

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --body-bg: pink;
  --root-bg: #0B2434;
  --main-bg: #F5F5F5;
  --die-bg: #FFF;
  --die-shadow: rgba(0, 0, 0, 0.15);
  --die-text: #2B283A;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-bg);
}

#root {
  background-color: var(--root-bg);
  height: 100vh;
  padding: 30px 20px;
}

main {
  background-color: var(--main-bg);
  height: 320px;
  width: 320px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 34px;
}

.die-container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 18px;
}

.die {
  width: 35px;
  height: 35px;
  border-radius: 3.81px;
  border: none;
  box-shadow: 0 2px 2px var(--button-shadow);
  color: var(--die-text);
  background-color: var(--die-bg);
  font-size: 20px;
  font-style: bold;
}